[Desktop Entry]
Type=Application
Name=ThymioHTTP Connector for Snap!
Exec=lxterminal -e /opt/thymioHTTP/run.sh
Categories=Development;IDE;
Icon=org.mobsya.ThymioSuite
